<section class="board">
  <div class="filters-beam">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-orders-filters
                              [userToken]="userToken"
                              [appConfig]="appConfig"
                              [oQP]="oQP"
                              [reservations]="reservations"
                              [archives]="archives"
                              [inProgress]="inProgress"
                              (changeFilters)="changeFilters($event)">
          </app-orders-filters>
        </div>
      </div>
    </div>

  </div>

  <div class="grid-board">
    <app-order-board-square *ngFor="let order of orders; let i = index" [order]="order" [day]="currentDay" [appConfig]="appConfig">
    </app-order-board-square>
  </div>
</section>
<div class="pag-nav">
  <app-pagination [pages]="pages" [current]="oQP.page" (emitChange)="changePage($event)"></app-pagination>
</div>
