<div class="overshadow" (click)="closeEdit()">

</div>

<div class="edit-area">


  <div class="close-btn" (click)="closeEdit()"><i class="fas fa-times"></i></div>

  <div class="scroll-inside">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="sort-area" id="sortP">
            <div class="sort-el" *ngFor="let item of menuCategories">
              <h3>
                {{item.name}}
              </h3>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
