.over-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.confirm-window {
  position: fixed;
  left: 30%;
  top: 30%;
  width: 40%;
  z-index: 100;
  color: #000000;

  .inside-confirm {
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    box-shadow: 0 0 15px #777777;

    .message-cont {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    .btns-cont {
      text-align: center;
    }
  }
}

.random-string {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 4rem;
  overflow: hidden;

  span.str-rand {
    font-size: 3rem;
    font-weight: bold;
    color: #777777;
  }

  .over-random {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 11;

  }
}
