<div class="many-element"
     *ngFor="let item of element.priceNames; let i = index">
  <div class="element-content">
    <div class="element-info">
      <h4>{{item.name | stripTags}}</h4>
      <div class="price-config">
        <span class="price-value">
          {{item.price[0].price + ' pln'}}
        </span>
        <img src="assets/images/krewetka.png" *ngIf="item.price[0].isSea" class="img-icon">
      </div>

    </div>
    <button class="add-cart-bt" (click)="addToCart(i)">
      <i class="fas fa-cart-plus"></i>
    </button>
  </div>
</div>
