<div class="row row-margin-top">
  <div class="col-md-4 bt-section">
    <i class="fas fa-utensils"></i>
    <h2>Lista menu w aplikacji</h2>
    <a class="nav-link" [routerLink]="['/panel/list-menu']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-list-alt"></i>
    <h2>Elementy karty w kategoriach</h2>
    <a class="nav-link" [routerLink]="['/panel/menu-elements']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-cogs"></i>
    <h2>Opcje i konfiguracja</h2>
    <a class="nav-link" [routerLink]="['/panel/options-and-config']"></a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-boxes"></i>
    <h2>Tablica zamówień</h2>
    <a class="nav-link" [routerLink]="['/panel/orders-board']"></a>
  </div>
  <!-- <div class="col-md-4 bt-section">
    <i class="fas fa-clipboard-list"></i>
    <h2>Rezerwacje</h2>
    <a class="nav-link" [routerLink]="['/panel/orders-board/reservations']"></a>
  </div> -->
  <div class="col-md-4 bt-section" *ngIf="showIfSuper| async">
    <i class="fas fa-chart-bar"></i>
    <h2>Statystyki</h2>
    <a class="nav-link" [routerLink]="['/panel/stats']"></a>
  </div>
</div>
